*.fits
*.sh
CUT_deep_catalogs/s16a_COSMOS_deep_random.fits
CUT_deep_catalogs/s16a_COSMOS_uddd_random.fits
CUT_deep_catalogs/s16a_DEEP_deep_random.fits
CUT_deep_catalogs/s16a_ELAIS_deep_random.fits
CUT_deep_catalogs/s16a_SXDS_uddd_random.fits
CUT_deep_catalogs/s16a_XMM-LSS_deep_random.fits
CUT_deep_catalogs/split_host_mass/
CUT_deep_catalogs/split_sat_mass_new/
CUT_deep_catalogs/split_sat_mass_newer/
CUT_deep_catalogs/test.fits
CUT_deep_catalogs/test_host_mass/
CUT_deep_catalogs/test_smf/
CUT_deep_catalogs/total_sample/
CUT_deep_catalogs/total_sample_rebin/
CUT_deep_catalogs/vol_den_selection.py
CUT_deep_catalogs/without_corr/
__pycache__/
completeness_curve/curves_graham/
figures/
mass_completeness_data/
tracts_patches/
CUT_deep_catalogs/conformity/
CUT_deep_catalogs/conformity_sfProb/
CUT_deep_catalogs/conformity_ssfr_105/